{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class=metanav>
      <form action="{{ url_for('add_score') }}" method=post class=add-entry>
        <dl>
          <dt>Winner:
          <dd><input type=text size=30 name=winner>
          <dt>Your goals:
          <dd><input type=text size=30 name=loser_res>
          <dt>Winner goals:
          <dd><input type=text size=30 name=winner_res>
          <dd><input type=submit value=Share>
        </dl>
      </form>
    </div>
  {% endif %}
  {% block entries %}{% endblock %}
{% endblock %}
