{% extends "main_page.html" %}
{% block entries %}
  {% if session.logged_in %}
    <ul class=entries>
    {% for entry in entries %}
    <li><h2>{{ entry.name }}</h2>{{ intround(entry.points)|safe }}  {{ entry.ES|safe }}
    {% else %}
      <li><em>show_entries. yao. No entries here so far</em>
    {% endfor %}
    </ul>
  {% else %}
    <ul class=entries>
    {% for entry in entries %}
      <li><h2>{{ entry.name }}</h2>{{ intround(entry.points)|safe }}
    {% else %}
      <li><em>show_entries. yao. No entries here so far</em>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
